/* 
button {
    background-color: red;
    padding: 15px;  
    margin-left: 20px;
   
    
}
form > input {
    margin-top: 30px;
    padding: 5px;
    background-color: #e8f0fd;
    border: none;
    outline-style: none;
    color: black;
    border-radius: 5px;

}
.btnsub {
    background-color: pink;
}
.btnsub:hover {
    cursor: pointer;
}
.btnsub:active {
    padding: 20px;
} */
