.message__me,
.message__other {
  color: white;
  text-align: left !important;
  width: fit-content;
}

.message__myCard {
  background-color: #0b81ff !important;
}
.message__otherCard {
  background-color: tomato !important;
}
