.explore{
  display: flex;
  
 
}





















.card--animation {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 32.0625vw;
  padding: 3.2vh;
  max-width: 55vw;
  height: 50vh;
  border-radius: 3.2vh;
  background-image: url("https://file.mockplus.com/image/2018/04/5f969485-48bc-4fcd-969a-688f401b658f.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
}
